
.canteen {
    background-color: #087F8C;
}

.canteen-container, .menu-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    justify-content: center; 
    align-items: start; 
    grid-gap: 20px;
}

.canteen, .menu-item {
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item img {
    margin-bottom: 20px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    height: 150px;
    width: 210px;
}


.btn {
    background-color: #087F8C;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

.btn:hover {
background-color: #1C666F;
}

h4 {
    font-size: clamp(px, 5vw, 18px);
}

h4, p, .location {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

p {
    text-align: left;
}

.price {
    color: #087F8C;
    text-align: right;
}

.canteen, .menu-item > h4 {
    flex-grow: 0;
}

.canteen, .menu-item > .location {
    flex-grow: 1;
}

.location {
    color: #a7a18f;
}

.description {
    font-size: clamp(px, 5vw, 18px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 0;
}

.bi.bi-search {
    margin: 10px;
}

h2 {
    margin-top: 50px !important;
    text-align: left;
}

.hidden {
    display: none !important;
}

